<form [formGroup]="formLogin" (ngSubmit)="onLogin()">
  <h2 class="form-title">Login</h2>

  <label>Email:</label>
  <input formControlName="email" />
  <div *ngIf="formLogin.get('email')?.invalid && formLogin.get('email')?.touched">
    <small *ngIf="formLogin.get('email')?.errors?.['required']">E-mail é obrigatório.</small>
    <small *ngIf="formLogin.get('email')?.errors?.['email']">Formato de e-mail inválido.</small>
  </div>

  <label>Senha:</label>
  <div class="input-wrapper">
    <input
      [type]="mostrarSenha ? 'text' : 'password'"
      formControlName="senha"
      class="input-com-icone" />
    <button type="button" class="icone-botao" (click)="toggleMostrarSenha()">
      <i class="fas" [ngClass]="mostrarSenha ? 'fa-eye-slash' : 'fa-eye'"></i>
    </button>
  </div>
  <div *ngIf="formLogin.get('senha')?.invalid && formLogin.get('senha')?.touched">
    <small *ngIf="formLogin.get('senha')?.errors?.['required']">Senha é obrigatória.</small>
    <small *ngIf="formLogin.get('senha')?.errors?.['minlength']">Mínimo 6 caracteres.</small>
  </div>

  <button type="submit" [disabled]="formLogin.invalid">Entrar</button>

  <p class="form-footer">
    Ainda não tem conta? <a routerLink="/cadastro">Crie uma agora</a>
  </p>
</form>
